* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-size: cover;
}


.switch__container {
    margin: 5px;
    width: 60px;
}

.switch {
    visibility: hidden;
    position: absolute;
    margin-left: -2px;
}

.switch+label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}

.switch--shadow+label {
    padding: 2px;
    width: 60px;
    height: 30px;
    background-color: #dddddd;
    border-radius: 60px;
}

.switch--shadow+label:before,
.switch--shadow+label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
    right: 1px;
}

.switch--shadow+label:before {
    background-color: #CBCEDE;
    border-radius: 60px;
    transition: background 0.4s;
}

.switch--shadow+label:after {
    width: 30px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.4s;
}

.switch--shadow:checked+label:before {
    background-color: #141845;
}

.switch--shadow:checked+label:after {
    transform: translateX(30px);
}